<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212930725956-buehv3b0cclek2i170u4oocav8igd7an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212930725956-buehv3b0cclek2i170u4oocav8igd7an</string>
	<key>API_KEY</key>
	<string>AIzaSyALWTIF3WZmO2w4JVEDp0tx5WlQMq6U8es</string>
	<key>GCM_SENDER_ID</key>
	<string>212930725956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jejememe.InstagramTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftuitutorial-830b9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftuitutorial-830b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212930725956:ios:0f084b24b3864a7bcb9411</string>
</dict>
</plist>